/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
Red:    #cc5a71
Yellow: #f0f757
Brown:  #80475e
Dark:   #34344a
Beige:  #c89b7b
*/


html, body {
  width: 100%;
  height: 100%;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  background-color: #fafafa;
  color: #cc5a71;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
}

a {
  color: #80475e !important;
}

a:hover,
a:active,
a:focus {
  color: #cc5a71 !important;
}

.btn-light {
    background-color: #9BF3F0 !important; 
    color: #4A0D67 !important; 
    border-color: #473198 !important; /* Adjust the border color if you want */
}

.btn-light:hover,
.btn-light:active, 
.btn-light:focus, 
.btn-light.active {
    background-color: #C7F1B9 !important; 
    color: #4A0D67 !important;
    border-color: #473198 !important; /* Adjust the border color if you want */
}

.btn-dark {
    background-color: #473198 !important; 
    color: #daffed !important; 
    border-color: #c7f1b9 !important; /* Adjust the border color if you want */
}

.btn-dark:hover,
.btn-dark:active, 
.btn-dark:focus, 
.btn-dark.active {
    background-color: #9141e7 !important; 
    color: #daffed !important;
    border-color: #c7f1b9 !important; /* Adjust the border color if you want */
}

nav .navbar-brand {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: #cc5a71;
}

nav .navbar-brand img {
  height: 35px;
}

.navbar-nav .nav-link {
    color: #cc5a71 !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
    color: #80475e !important;
}

.navbar-brand {
    color: #cc5a71 !important;
}

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active {
    color: #80475e !important;
}

.navbar-brand img {
  height: 1rem;
  width: auto;
}

header {
  background-color: #cc5a71;
  color: #f0f757;
}

header h1 {
  color: #f0f757;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  letter-spacing: .2rem;
}

header table td {
  color: #f0f757 !important;
}

table td {
  vertical-align: top;
  line-height: 1.25;
  padding-bottom: 0.5rem;
}

main {
  background-color: #f0f757;
  color: #cc5a71;
}

main a {
  color: #80475e !important;
}

main a:hover,
main a:active,
main a:focus {
  color: #cc5a71 !important;
}

h2 {
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 0.5rem;
}

section:nth-child(odd) {
  background-color: #f0f757;
  color: #cc5a71;
}

section:nth-child(even) h3,
section:nth-child(even) b {
  color: #80475e;
}

footer {
  background-color: #80475e;
  color: #c89b7b;
}

footer a {
  color: #cc5a71 !important;
}

footer a:hover,
footer a:active,
footer a:focus {
  color: #c89b7b !important;
}

.workshop_meta {
  margin-bottom: 2rem;
}

.author img {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.author:first-of-type img {
  margin-top: 0;
}

@media (min-width: 992px) {

/*
  header div:first-child {
    background-image: url('../img/lead_illustration.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
  }
*/

  header h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 0;
  }

  header .meta {
    margin-bottom: 2.5rem;
  }

  header .tickets {
    margin-bottom: 0.75rem;
  }

  .author img {
    margin-top: 0;
    margin-bottom: 2rem;
  }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

